In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../_Аналитик данных/5_Статистика/aa.csv')

In [6]:
df

,Unnamed: 0.1,Unnamed: 0,experimentVariant,category,mobileBrandName,version,operatingSystem,region,purchase
0,0,1,0,mobile,Huawei,3.8.2.0,ANDROID,Moscow,0
1,1,2,0,mobile,NaN,3.8.2.0,ANDROID,Krasnodar Krai,0
2,2,3,1,tablet,Apple,2.8.0,IOS,Moscow Oblast,0
3,3,4,1,mobile,Xiaomi,3.8.2.0,ANDROID,Rostov Oblast,0
4,4,5,1,mobile,Samsung,3.8.2.0,ANDROID,Republic of Tatarstan,0
...,...,...,...,...,...,...,...,...,...
368271,368271,368272,0,mobile,Apple,2.8.0,IOS,Moscow,0
368272,368272,368273,0,mobile,Apple,2.8.0,IOS,Volgograd Oblast,0
368273,368273,368274,1,mobile,Apple,2.9.0,IOS,Moscow,0
368274,368274,368275,1,mobile,Apple,2.8.0,IOS,Moscow,0
368275,368275,368276,1,mobile,Apple,2.8.0,IOS,Voronezh Oblast,0

In [9]:
df.groupby(['experimentVariant', 'operatingSystem'], as_index = False).agg({'purchase': 'mean'})

   experimentVariant operatingSystem  purchase
0                  0         ANDROID  0.065903
1                  0             IOS  0.016728
2                  1         ANDROID  0.066633
3                  1             IOS  0.051374

Большие различия на системе IOS

In [7]:
df_0 = df.query('experimentVariant == 0')
df_1 = df.query('experimentVariant == 1')

In [8]:
df_0_ios = df_0.query('operatingSystem == "IOS"')
df_1_ios = df_1.query('operatingSystem == "IOS"')